html{
	font-family: "Source Sans Pro", "Segoe UI", "Trebuchet MS", Helvetica, "Helvetica Neue", Arial, sans-serif;
	font-size: 1em;
	line-height: 1.5;
	height: 100%;
}

body{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	height: 100%;
	padding-top: calc(3em + 3px);
	background: #f7f7f7;
}
@media all and (min-height: 35em) {
	body{
		padding-top: calc(3.75em + 3px);
	}
}
h1{
	font-size: 2.2em;
	font-weight: normal;
	margin: 0;
	color: #084561;
}
h2{
	font-size: 2.2em;
	font-weight: normal;
	margin: 0;
	color: #084561;
}
h3{
	font-size: 1.4em;
	font-weight: normal;
	margin: 0;
	color: #424242;
}
a{
	color: inherit;
}

.alert-error, .alert-warning, .alert-success, .alert-info{
	padding: 1em;
	color: #fff;
	border: 1px solid #fff;
	border-radius: .25em;
}
.alert-error{
	border-color: #e51c23;
	background-color: #ed6166;
}
.alert-warning{
	border-color: #ff9800;
	background-color: #ffb74d;
}
.alert-success{
	border-color: #42bd41;
	background-color: #7ad179;
}
.alert-info{
	border-color: #03a9f4;
	background-color: #47c4fd;
}

#topbar{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 5;
	background: #084561;
	color: #fff;
	border-bottom: 3px solid #f8ad32;
	-webkit-user-select: none;
	user-select: none;
}
#topbar::after, #content::after{
	content: '';
	display: block;
	clear: both;
}

#logo{
	display: block;
	float: left;
	width: 12em;
	height: 3em;
	background: url(../img/logo@2x.png) center no-repeat;
	background-size: contain;
}
@media all and (min-height: 35em) {
	#logo{
		width: 15em;
		height: 3.75em;
	}
}
#logo:hover, #logo:focus{
	opacity: .7;
}
#logo>strong{
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
}

.page-content{
	position: fixed;
	top: calc(3em + 3px);
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
	overflow-y: auto;
	/*display: none;*/
}
@media all and (min-height: 35em) {
	.page-content{
		top: calc(3.75em + 3px);
	}
}
.page-content header{
	border-bottom: 1px solid #f8ad32;
}

/* Home */
.current-page-home #home{
	/*display: block;*/
	z-index: 1;
}
#home>header{
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
}

#local-tuts, #distant-tuts{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 1em 1em;
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
#local-tuts{
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}
#distant-tuts{
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}
.current-page-home #local-tuts, .current-page-home #distant-tuts{
	-webkit-transform: none;
	transform: none;
	-webkit-transition-delay: 150ms;
	transition-delay: 150ms;
}
#local-tuts-list, #distant-tuts-list{
	margin: 0;
	padding: 0;
	list-style: none;
}
#local-tuts-list>li, #distant-tuts-list>li{
	padding: .5em;
}
#local-tuts-list>li+li, #distant-tuts-list>li+li{
	border-top: 1px solid #e0e4e5;
}
#local-tuts-list>li::after, #distant-tuts-list>li::after{
	content: '';
	display: block;
	clear: both;
}
#local-tuts-list>li:hover, #distant-tuts-list>li:hover{
	background-color: #fff;
	cursor: pointer;
}
#local-tuts-list>li.loading, #distant-tuts-list>li.loading{
	background-color: #dedede;
	pointer-events: none;
	cursor: progress;
}
#local-tuts-list>li>.tutorial-img, #distant-tuts-list>li>.tutorial-img{
	float: left;
	margin-right: .5em;
	width: 3.6em;
	height: 3.6em;
}
#local-tuts-list>li>h3, #distant-tuts-list>li>h3{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#local-tuts-list>li>.tutorial-tags, #distant-tuts-list>li>.tutorial-tags{
	color: #f8ad32;
}

@media all and (min-width: 55em) {
	#local-tuts, #distant-tuts{
		float: left;
		width: 50%;
	}
}




/* Tutoriel */

#tutorial-map{
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.current-page-tutorial-map #tutorial-map{
	/*display: block;*/
	z-index: 1;
	-webkit-transform: none;
	transform: none;
	-webkit-transition-delay: 150ms;
	transition-delay: 150ms;
}

#tutorial-map>header{
	padding: .5em 1em 0;
}
#tutorial-description:empty{
	display: none;
}


#tutorial-extract{
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.current-page-tutorial-extract #tutorial-extract{
	/*display: block;*/
	z-index: 1;
	-webkit-transform: none;
	transform: none;
	-webkit-transition-delay: 150ms;
	transition-delay: 150ms;
}

#tutorial-map-content, #tutorial-extract-content{
	padding: 0 1em;
}


.markdown-content img, .markdown-content picture, .markdown-content iframe{
	max-width: 100%;
}
.markdown-content p>img:first-child:last-child, .markdown-content picture:first-child:last-child, .markdown-content iframe:first-child:last-child{
	display: block;
	margin: auto;
}

.information, .question, .error, .warning{
	position: relative;
	margin: 2em 0;
	padding: .5em 1em .5em 3em;
}
.information::before, .question::before, .error::before, .warning::before{
	content: '';
	position: absolute;
	top: 50%;
	left: 1.5em;
	margin-top: -.75em;
	margin-left: -.75em;
	width: 1.5em;
	height: 1.5em;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.information{
	background: #daeaee;
}
.question{
	background: #e2daee;
}
.error{
	background: #eedada;
}
.warning{
	background: #eee7da;
}